<!-- Licensed Materials - Property of IBM
    IBM Cognos Products: Cognos Analytics
    (C) Copyright IBM Corp. 2016, 2017
    US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Login Script Using the CMS Login API</title>
  <meta name="description" content="Login Script Using the CMS Login API">

  <script>/*
 *+------------------------------------------------------------------------+
 *| Licensed Materials - Property of IBM
 *| IBM Cognos Products: Content Explorer
 *| (C) Copyright IBM Corp. 2015, 2016, 2017
 *|
 *| US Government Users Restricted Rights - Use, duplication or disclosure
 *| restricted by GSA ADP Schedule Contract with IBM Corp.
 *+------------------------------------------------------------------------+
 */

// Login via the CMS (Cognos Mashup Service) API
function login() {
    var xmlhttp = new XMLHttpRequest();
    var oForm = document.forms[0];

    // grab the login form input values
    var namespace = oForm.elements.namespace.value;
    var userID = oForm.elements.userid.value;
    var password = oForm.elements.password.value;
	var canAuthenticate = true;

    // sent a POST request to the CMS Login API
    xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState === XMLHttpRequest.DONE) {
            // if not logged in attempt to login
            if (xmlhttp.status === 200) {
                // Redirect to page with embedded iFrames after authenticated
                window.location ='/iFrameSample';
            } else if (xmlhttp.status === 441) {
				var loginContext = getLoginContext(namespace, userID, password);
				canAuthenticate = false;
				xmlhttp.open("POST",  "http://localhost:9300/bi/v1/disp/rds/auth/logon", false);
				xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				xmlhttp.send(loginContext);
			}
        }
    };
    // attempt to GET home perspective to trigger a 441 if not authenticated
    xmlhttp.open("GET", 'http://localhost:9300/bi/v1/perspectives/home' + '?' + Date.now(), true);
    xmlhttp.send();
}

function getLoginContext(nameSpace, userID, password) {

      var context = "xmlData=<credentials>"
      +"<credentialElements><name>CAMNamespace</name><label>Namespace:</label>"
      +"<value><actualValue>"+nameSpace+"</actualValue></value>"
      +"</credentialElements><credentialElements><name>CAMUsername</name><label>User ID:</label>"
      +"<value><actualValue>"+userID+"</actualValue></value>"
      +"</credentialElements><credentialElements><name>CAMPassword</name><label>Password:</label>"
      +"<value><actualValue>"+password+"</actualValue></value>"
      +"</credentialElements></credentials>";

	  return context;
}
</script>

</head>

<body>

	When viewing the sample page with embedded iFrames (<a href="{{url_for('displayiFrameSample')}}">here</a>), Cognos will recognize that login has occurred and load the embedded content.</p>
    <p>You can use this script with hardcoded credentials, for example if the content is on a specific user's account,<br>
        or you can use a login form so users can input their own credentials if the content is shared.</p>

    <form action="#">
        <fieldset>
            <legend>Sample Form to Login to Cognos Analytics</legend>
            Namespace (change to your own):<br/>
            <!-- Add your namespace as an option -->
            <select size="1" name="namespace">
                <option value="CognosEx">CognosEx (Example)</option>
            </select><br/>
            UserID:<br/>
            <input type="text" name="userid"/><br/>
            Password:<br/>
            <input type="password" name="password"/><br/>
            <!-- Calls login() function in loginScriptSample.js -->
            <input type="button" name="Login" onclick="login();" value="Login"/>
        </fieldset>
    </form>
	</body>
</html>