<table class="table"><h3>{{query.name}} Data Items</h3>
                <thead class="thead-dark">
                <tr>
                    {% for key in query.dataItems[0].json().keys() %}
                    <th>{{key}}</th>
                    {% endfor %}
                </tr>
                </thead>
                {% for dataItem in query.dataItems %}
                    <tr>
                    {% for key in dataItem.json() %}
                        <td>
                        {% if key=='Expression' %}
                            <samp class="expression">{{dataItem.json()[key]}}</samp>
                        {% else %}
                        {{dataItem.json()[key]}}
                        {% endif %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>