{% extends "_layout.html" %}
{% block content %}
<div class="container">
    {% if reports|length > 0 %}
    <script>
        addBadge('txtTitle', '{{reports|length}}', ' sm-hidden badge-default');

    </script>


    <table class="table table-striped">
    <thead class="thead thead-dark">
        <tr>
            {% for key in keys %}
                {% if key not in ["xmlns", "CMID", "Store ID"] %}
                    <th class="col-md-1">{{key}}</th>
                {% endif %}
            {% endfor %}
        </tr>

    </thead>

    <tbody>
        {% for item in json %}
        <tr>
            {% for key in item %}

                {% if key == "Name"  %}
                    <td class="col-md-1">
                        <a href="./report/{{ item.CMID }}">{{item[key]}}</a>
                    </td>
                {% elif key not in ["xmlns", "CMID", "Store ID"] %}
                    <td class="col-xs-1">
                        {{item[key]}}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
</div>
{% endblock %}