{% extends "_layout.html" %}
{% block content %}
<div class="container">
    {% if reports|length > 0 %}
    <div class="jumbotron" style="vertical-align:top">
    <h2 style="display:inline">Reports</h2>   
    <span class="badge badge-dark">{{reports|length}}</span>
    </div>
    <table class="table table-striped">
    <thead class="thead thead-dark">
        <tr>
            {% for key in keys %}
                {% if key != 'xmlns' %}
                    <th>{{key}}</th>
                {% endif %}
            {% endfor %}
        </tr>

    </thead>
    <tbody>


        {% for item in json %}
        <tr>
            {% if item=='CMID' %}
            Hyperlink
            {% endif %}
            {% for property in item %}
                {% if property == "Name"  %}
                    <td><a href="./report/{{ item.CMID }}">{{item[property]}}</a>  </td>
                {% elif property != "xmlns" %}
                    <td>{{item[property]}}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}


    </tbody>
</table>
{% endif %}
</div>
{% endblock %}